
.header {
    background-image: url(../assets/hero_background.png);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 15vh auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.navbar {
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr) 3fr;
    grid-gap: 5%;
}

.navbar > a {
    text-decoration: none;
}


.headline_container {
    width: 100%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headline {
    width: 40%;
    font-family: 'Oswald', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

#headline_description {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: 50%;

    text-align: center;

    color: rgba(255, 255, 255, 0.7);
}

.navbar > a:first-of-type {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    padding-left: 1vh;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.navbar > a:not(:first-of-type) {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}